.deviceWindow{

    width: 600px;
    height: 100px;
    display: block;
}

.deviceInfo{
	width: 100%;
	display: flex;
	padding-bottom: 10px;
}

.propertyBox{
    background-color: #fff000;
    border-color: #000fff;
    /*width: 175px;*/
    margin: auto;
    text-align: center;
    font-size: 68%;
}

#updateButton{
	/*width: 25%;*/
	font-size: 11px;
	padding: 6px 6px;
}

.updateBox{
	/*width: 45%;*/
}

.elementBox{
	border: 1px solid black;
	text-align: center;
}

.elementName{
	margin-right: 2em;
}

.elementBoxContainer{
	/*width: 175px;*/
}

#numerics{
	margin-right: 3em;
	/*width: 100px;*/
}
.tabGroup {
  max-height: 100%;
 overflow: auto;
}

.windowTabs {
  max-height: 100%;
}

