/************ Runtime windows styles ************/
.deviceWindow{
    width: 600px;
    height: 100px;
    display: block;
}

.deviceInfo{
	width: 100%;
	display: flex;
	padding-bottom: 10px;
	border-top-style: solid;
	border-color: #dcdcdc;
	margin-top: 5px;
	padding-top: 10px;
}

.propertyBox{
    margin: auto;
    text-align: center;
    font-size: 68%;
    float: left;
}

#updateButton{
	font-size: 11px;
	padding: 6px 6px;
}

.elementBox{
	border: 1px solid black;
	text-align: center;
	margin-right: 2px;
}

.elementName{
	margin-right: 2em;
}

#numerics{
	margin-right: 3em;
}
.tabGroup {
  max-height: 100%;
  overflow: auto;
}

.windowTabs {
  max-height: 100%;
}
/************************************************/
/************ Main screen styles ****************/
body{
	padding: 20px;
}

.content{
	width: 100%;
}

.button-container{
	width: 100%;
	height: 550px;
}

.buttons-left{
	float: left;
}

.buttons-right{
	float: right;
}

.console-container{
	width: 100%;
}

/************************************************/