#deviceWindow{

    width: 300px;
    height: 100px;
}

.propertyBox{
    background-color: #fff000;
    border-color: #000fff;
}

#updateButton{
	width: 25%;
	font-size: 11px;
	padding: 6px 6px;
}

.updateBox{
	width: 45%;
}

.labelName{
	border: 1px solid black;
	text-align: center;
}